{% extends 'generator/layout.html' %}

{% block content%}

<h1>About</h1>

<p>An application has been created using Django and Bootstrap to generate random passwords. Django is a web development framework that uses the Python programming language, and Bootstrap is a web design framework that uses HTML, CSS, and JavaScript.

    In the application, a series of views have been created to generate the passwords. The user can select the type of characters they want to include in the password, the length of the password, and whether to include uppercase and lowercase letters, numbers, and/or special characters. Once the user clicks the generate button, a random password is generated and displayed on the screen.
    
    To style the application, Bootstrap has been used, which provides a series of predefined components such as buttons, cards, forms, among others. In addition, Bootstrap's JavaScript functionalities have been used to create a button that copies the generated password to the clipboard and to display a "text copied" notification on the screen.
    
    In summary, an application has been created to generate random passwords using Django and Bootstrap, and style and functionalities have been added using the tools provided by Bootstrap.</p>


    <p>For more information, please visit my <a href="https://nahuel-agustin-nievas.github.io/Portfolio/">portfolio page</a>.</p>

{% endblock %}