{% extends 'generator/layout.html' %}

{% block content%}





<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-secondary text-center">
        <h1>Password</h1>

        <p id="copy-text">{{ password }}</p>

        <button type="button" class="btn btn-primary" id="copy-button">Copy Password</button>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Password Generator</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body bg-secondary">
                Copied Password
              </div>
            </div>
        </div>

    </div>
</div>



<script>
    const toastTrigger = document.getElementById('copy-button')
    const toastLiveExample = document.getElementById('liveToast')

    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    };

    document.getElementById("copy-button").addEventListener("click", function () {
        var elemento = document.getElementById("copy-text");

        var seleccion = window.getSelection();
        var rango = document.createRange();
        rango.selectNodeContents(elemento);
        seleccion.removeAllRanges();
        seleccion.addRange(rango);

        document.execCommand("copy");

        seleccion.removeAllRanges();
    });
</script>
{% endblock %}

